body {
    padding-top: 50px;
}

.canvas {
    padding: 40px 15px;
    text-align: center;
    border: 1px dotted black;
    height: auto;
}

#files {
    margin: 0 auto;
}

/*** icons ***/

.var-icon {
    border: 1px solid #333;
    background: #efefef;
    width: 150px;
}

.var-icon .icon-header {
    text-align: right;
    display: none;
    float: right;
}

.var-icon .icon-header .remove-icon {
    cursor: pointer;
}

.var-data-type {
    color: #337ab7;
}

/*** /icons ***/

/*** Open Files Styles ***/

#open-files {
    margin: 50px 0 0 0;
}

/*** /Open Files Styles ***/

/*** Menu Styles ***/
.menu {
    position: absolute;
    z-index: 1000;
    top: 120px;
    left: 55px;
    width: 160px;
    background-color: #3da1ed;
    color: #efefef;
    font-size: 120%;
    border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
}

.menu ul li {
    list-style-type: none;
}

.panel-body {
    color: #999;
}

.datatype {
    cursor: grab;
}

#accordion {
    padding: 20px 10px;
}

#menuHeader {
    background-color: #333;
    cursor: move;
    text-align: center;
}

/*** /Menu Styles ***/
